{% extends 'base.html.twig' %}

{% block title %}Edit Idees{% endblock %}

{% block body %}
    <h1>Edit Idees</h1>

    {{ include('idees/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_idees_index') }}">back to list</a>

    {{ include('idees/_delete_form.html.twig') }}
{% endblock %}
