{% extends 'base.html.twig' %}

{% block title %}Modifier l'abonnement{% endblock %}

{% block body %}
<h1 class="text-center my-3 display-5">Modifier l'abonnement</h1>
    <div class="container">
    
    <a class="class btn btn-dark mb-2" href="{{ path('app_abonnement_index') }}">Retour</a>
    

    {{ include('abonnement/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    {{ include('abonnement/_delete_form.html.twig') }}
    </div>
{% endblock %}
