{% extends 'base.html.twig' %}

{% block h1 %}Ajouter un Abonnement{% endblock %}
{% block title %}Ajouter un Abonnement{% endblock %}

{% block body %}

    <a class="btn btn-success" href="{{ path('app_abonnement_index') }}">Retour</a>
    
    {{ include('abonnement/_form.html.twig') }}

    
{% endblock %}
