.img-accueil
    {
        max-width: 100%;
        height: auto;
        display: block;
        margin: auto;
        }

        
.img_espaces
{
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto; 
}


.img_coursCollectifs
{
    max-width: 70%;
    height: 80vh;
    display: block;
    margin: auto;
}


.img_presse
{
    max-width: 80%;
    height: 60vh;
    display: block;
    margin: auto;
}