{% extends "base.html.twig" %}

{% block h1 %}{% endblock %}

{% block body %}
<div class"container-fluid bg-size-cover">
    <div class="mt-5 text-center">
            <h1>Découvre nos espaces</h1>
        </div>
        {% for espace in espaces %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card mx-3 mb-3">
                            <div class="card-body">
                                <h5 class="card-title text-center mb-2">{{espace.libelle}}</h5>
                                <h2 class="montantAbonnement text-center">{{espace.description}}€/mois</h2>
                                <p class="card-text">
                                {#condition pour limiter la taille des caractères de la description#}
                                
                                </p>
                                <div class="d-flex justify-content-around">
                                    <a class="btn btn-dark mb-2 col-2" href="{{ path('espaces_salle', {'id': espace.id}) }}">Découvrir</a>
 
                                </div>
                            </div>
                        </div>
                    </div> 
                {% endfor %}
</div>

{% endblock %}

