{% extends "base.html.twig" %}

{% block h1 %}L'espace Musculation{% endblock %}

{% block body %}

<a class="btn btn-dark" href="{{path('espaces_salle')}}">retour</a>


<img class="img_presse" src="{{asset('images/femme_presse.jpg')}}" alt="">





{% endblock %}