{% extends 'base.html.twig' %}

{% block title %}Modifier les cours{% endblock %}

{% block body %}
    <h1>Modifier les cours</h1>

    {{ include('cours/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-dark" href="{{ path('app_cours_index') }}">Retour</a>

    {{ include('cours/_delete_form.html.twig') }}
{% endblock %}
