{% extends 'base.html.twig' %}

{% block title %}Ajouter des cours{% endblock %}

{% block body %}
    <h1>Ajouter des cours</h1>

    {{ include('cours/_form.html.twig') }}

    <a class="btn btn-dark" href="{{ path('app_cours_index') }}">Retour</a>
{% endblock %}
