{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <h1>Nouvel utilisateur</h1>

    {{ include('user/_form.html.twig') }}

    <a class="btn btn-dark col-2 mt-2 mb-2" href="{{ path('app_user_index') }}">Retour</a>
{% endblock %}
